name: Diffcalc build

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flavour: ['python', 'jython']
        python-version: [2.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
        if: matrix.flavour == 'python'

      - name: Install Python packages
        run: |
           pip install pytest==4.6.11; pip install pytest-xdist==1.26.1; pip install scipy==1.0.0; pip install nose==1.3.7
           echo "PYTEST=pytest -W ignore::PendingDeprecationWarning" >> $GITHUB_ENV
        if: matrix.flavour == 'python'

      - name: Install Jython
        run: |
          source install-jython-environment.sh
          echo "PYTEST=$HOME/jython/bin/jython -m pytest" >> $GITHUB_ENV
          echo "CLASSPATH=$PWD/jama-1.0.3.jar:$PWD/commons-math3-3.6.1.jar" >> $GITHUB_ENV
        if: matrix.flavour == 'jython'

      - name: Tests
        run: |
          echo Running $PYTEST
          $PYTEST
